<!DOCTYPE html>
<html>
  <head>
    <title>CRUD Product</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Boxicons CDN -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "styles", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "table", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
  <% if flash[:notice] %>
    <p class="notice"><%= notice %></p>
  <% end %>
  <% if flash[:alert] %>
    <p class="alert"><%= alert %></p>
  <% end %>
  <%= yield %>
  </body>
</html>
